<div class="h-screen w-full flex flex-col justify-start">
  <header class="w-full mb-5 py-3 px-2 border-solid border-black border-b-2">
    <ul class="w-full flex flex-row justify-evenly">
      <li><a class="flex-1" [routerLink]="['/create']">Proyecto</a></li>
      <li><a class="flex-1" [routerLink]="['/create/questions']">Preguntas</a></li>
      <li><a class="flex-1" [routerLink]="['/create/final']">Pantalla final</a></li>
      <li><a class="flex-1" [routerLink]="['/create/preview']">Previsualizar</a></li>
      <li><a class="flex-1" [routerLink]="['/create/publish']">Publicar</a></li>
      <li><a class="flex-1">Imprimir</a></li>
      <li><a class="flex-1" [routerLink]="['/create/exit']">Salir</a></li>
    </ul>
  </header>

  <div class="h-full">
    <router-outlet></router-outlet>
  </div>
</div>
