<header class="flex flex-row w-full justify-between py-5 px-10 border-black border-b-2 border-b-solid">
  <h1>Logo</h1>
  <nav class="w-1/4">
    <ul class="flex flex-row justify-evenly">
      <li><a routerLink="create">Crear tests</a></li>
      <li><a routerLink="profile">Despacho</a></li>
    </ul>
  </nav>
  <div class="w-1/4">
    <ul class="flex flex-row justify-evenly">
      <li><a routerLink="signup">Nuevo usuario</a></li>
      <li><a routerLink="signin">Entrar</a></li>
    </ul>
  </div>
</header>
