<div class="h-full w-full">
  <table class="w-full">
    <tr class="w-full">
      <th class="px-2 ">Fecha</th>
      <th class="w-full">Título</th>
      <th class="px-2">Preguntas</th>
      <th class="px-2">Visitas</th>
      <th class="px-2">Edit</th>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 1</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 2</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 3</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 4</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 5</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 6</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 7</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 8</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 9</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
    <tr>
      <td class="whitespace-nowrap px-2">20-10-2012</td>
      <td class="px-2 py-1">Test 10</td>
      <td class="px-2 py-1">10</td>
      <td class="px-2 py-1">103</td>
      <td class="whitespace-nowrap px-2 py-1">-X- Y</td>
    </tr>
  </table>
</div>
