<div class="min-h-screen w-full flex flex-row ">
  <div class="w-1/5 border-black border-r-2 border-r-solid p-3">
    <h2 class="text-center">Categorías</h2>
    <ul>
      <li><a>Categoria 1</a></li>
      <li><a>Categoria 2</a></li>
      <li><a>Categoria 3</a></li>
      <li><a>Categoria 4</a></li>
      <li><a>Categoria 5</a></li>
      <li><a>Categoria 6</a></li>
    </ul>
  </div>
  <div class="w-3/5 p-3">
    <h2 class="text-center">Últimos tests</h2>
    <table class="w-full">
      <tr>
        <th class="w-3/5">Títutlo</th>
        <th class="w-1/5">preguntas</th>
        <th class="w-1/5">visitas</th>
      </tr>
      <tr>
        <td class="">Test 1</td>
        <td class="text-center">20</td>
        <td class="text-center">45</td>
      </tr>
      <tr>
        <td class="">Test 2</td>
        <td class="text-center">0</td>
        <td class="text-center">0</td>
      </tr>
      <tr>
        <td class="">Test 3</td>
        <td class="text-center">22</td>
        <td class="text-center">4</td>
      </tr>
      <tr>
        <td class="">Test 4</td>
        <td class="text-center">23</td>
        <td class="text-center">435</td>
      </tr>
      <tr>
        <td class="">Test 1</td>
        <td class="text-center">20</td>
        <td class="text-center">45</td>
      </tr>

    </table>
  </div>
  <div class="w-1/5 border-black border-l-2 border-l-solid p-3">
    <h2 class="text-center">Los más...</h2>
    <ul>
      <li><a>Más vistos</a></li>
      <li><a>Mejor valorados</a></li>
      <li><a>Más difíciles</a></li>
      <li><a>Más vistos</a></li>
      <li><a>Mejor valorados</a></li>
      <li><a>Más difíciles</a></li>
    </ul>
  </div>
</div>
