<div class="w-full h-auto text-center py-10">
  <p>Total tests: <span>69</span></p>
  <p>Total preguntas realizadas: <span>69</span></p>
  <p>Visitas: <span>1369</span></p>
  <p>Personas que han terminado tus tests: <span>923</span></p>
  <p>% Personas que han terminado tus tests: <span>649</span></p>
  <p>Total valoraciones: <span>39</span></p>
  <p>Valoración media: <span>*****</span></p>
  <p>% de aciertos medio: <span>69%</span></p>
  <p>Tiempo medio de finalizacion: <span>2 minutos</span></p>
</div>
