<div class="min-h-screen w-full">
  <div class="flex flex-row w-full justify-evenly mb-5">
    <a class="w-1/4 border-solid border-gray border-2 text-center py-1 px-2">Nuevo test</a>
    <a class="w-1/4 border-solid border-gray border-2 text-center py-1 px-2">Abrir test</a>
    <a class="w-1/4 border-solid border-gray border-2 text-center py-1 px-2">Guardar test</a>
  </div>
  <div class="w-full flex flex-col justify-center items-center">
    <div class="w-full flex flex-row justify-center items-center">
      <label class="mr-2">Título</label>
      <input class="border-gray border-solid border-2 py-1 px-2 w-1/5" type="text" name="title" id="title" placeholder="Título..." />
    </div>
  </div>
</div>
